.center_horz_vert {
    width: 600px;
/*    height: 300px; */
/*    position: absolute; */
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
p.actions {
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
a.add:before {
    content: url("/static/images/add.png");
}
a.edit:before {
    content: url("/static/images/edit.png");
}
a.duplicate:before {
    content: url("/static/images/copy.png");
}
a.delete:before {
    content: url("/static/images/delete.png");
}
a.action:after {
    content: attr(title);
}
a.short_action:after {
    content: '';
}
a:visited {
color:#666666;
}  
a:hover {
color:#000000;
} 
a:active {
color:#666666;
}
