<script>
 var action = {% try %} {% raw "'%s'" % action %} {% except %} 'add' {% end %}
 var id = {% try %} {{ int(id) }} {% except %} undefined {% end %}
</script>

<div class="center_horz_vert" style="position: static;">
<h2><span><span id="action_title"></span> expense</span></h2>

<form id="form">
<p>
<label for="date">Date</label><br/>
<input type="text" id="date" readonly="readonly" size="8">
</p>
<p>
<label for="time">Time</label><br/>
<span>
<select id="hour">
    {% for i in range(0, 24) %}
        <option value="{{i}}">{{i}}</option>
    {% end %}
</select>
<select id="minute">
    {% for i in range(0, 60) %}
        <option value="{{i}}">{{i}}</option>
    {% end %}
</select>
<select id="second">
    {% for i in range(0, 60) %}
        <option value="{{i}}">{{i}}</option>
    {% end %}
</select>
</span>
</p>
<p>
<label for="description">Description</label><br/>
<input type="text" name="description" id="description">
</p>
<p>
<label for="amount">Amount</label><br/>
<input type="number" name="amount" id="amount" min="0">
</p>
<p>
<label for="comment">Comment</label><br/>
<input type="text" name="comment" id="comment">
</p>
<div id="message">
</div>
<p>
<button type="button" id="cancel">Cancel</button>
<button type="button" id="save">Save</button>
</p>
</form>

<script>
function load_expense(id) {
    $.ajax('{{reverse_url('expense')}}?id=' + id, {type: "GET", success: function(data) {
    	$('#date').datepicker("setDate", new Date(data.date[0], parseInt(data.date[1])-1, data.date[2]))
    	$('#hour').val(data.time[0])
        $('#minute').val(data.time[1])
        $('#second').val(data.time[2])
        $('#description').val(data.description)
        $('#amount').val(data.amount)
        $('#comment').val(data.comment)
    }})
}

$(document).ready(function() {
	$("#date").datepicker({
	       dateFormat: "yy-mm-dd",
	       firstDay: 1,
	       numberOfMonths: 2,
	       maxDate: new Date(),
	       defaultDate: new Date(),
	       showOn: "button",
	       buttonImage: "{{ reverse_url('static', 'images/calendar.gif') }}"
	}).datepicker("setDate", $('#date').datepicker( "option", "defaultDate"))

	$('#cancel').button().click(function () {
	    $('#center').load('{{ reverse_url('tpl', 'list_expenses') }}')
	})
	
    $('#save').button().click(function() {
    	var form_data = $('#form').serializeArray()
        form_data.push({name: 'date', value: $('#date').val().split('-')})
    	form_data.push({name: 'time', value: [$('#hour').val(), $('#minute').val(), $('#second').val()]})
    	console.log(form_data)
        if (action == 'add' || action == 'dup') {
            $.ajax('{{reverse_url('expense')}}', {type: "POST", data: JSON.stringify(form_data), success: function(data) {
            	$('#cancel').click()
            }, error: function(jqXHR, textStatus, errorThrown) {
                main_display_error($('#message'), jqXHR.responseText)
            }})
        } else if (action == 'edit') {
        	form_data.push({name: 'id', value: id})
            $.ajax('{{reverse_url('expense')}}', {type: "PUT", data: JSON.stringify(form_data), success: function(data) {
                $('#cancel').click()
            }, error: function(jqXHR, textStatus, errorThrown) {
                main_display_error($('#message'), jqXHR.responseText)
            }})
        }
    })

    if (action == 'dup') {
        load_expense(id)
        $('#action_title').text('Duplicating')
    } else if (action == 'edit') {
    	load_expense(id)
        $('#action_title').text('Editing')
    } else {
        $('#action_title').text('Adding')
    }
})
</script>
</div>
