
<table style="width: 100%;" class="no_print">
<tr><td>Logged in as <strong><span id='user_name'></span></strong></td>
<td align="right"><button type="button" id="logout">Logout</button></td>
</tr>
</table>
<script>
$(document).ready(function() {
    $('#logout').button().click(function() {
        $.ajax('{{reverse_url('logout')}}', {type: "DELETE", success: function(data) {
            $('#main').load('{{ reverse_url('tpl', 'login') }}')
        }})
    })
    $.ajax('{{reverse_url('user')}}', {type: "GET", success: function(data) {
    	$('#user_name').text(data.name)
    }})
    $('#center').load('{{ reverse_url('tpl', 'list_expenses') }}')
})
</script>
<div id="center">
</div>
