<div class="center_horz_vert" style="position: static;">
<h2>List of Expenses</h2>

<div id="filters">
<h3>Filters</h3>
<div>
<form id="form_filters">
<table>
<tr><td><input type="checkbox" name="filters" value="date"></td><td>
<p>
<label for="datefrom">Date from </label>
<input type="text" id="datefrom" readonly="readonly" size="8">
<label for="dateto"> to </label>
<input type="text" id="dateto" readonly="readonly" size="8">
</p>
</td></tr>
<tr><td><input type="checkbox" name="filters" value="time"></td><td>
<p>
<label for="timefrom">Time from </label>
<span>
<select id="hourfrom">
    {% for i in range(0, 24) %}
        <option value="{{i}}">{{i}}</option>
    {% end %}
</select>
<select id="minutefrom">
    {% for i in range(0, 60) %}
        <option value="{{i}}">{{i}}</option>
    {% end %}
</select>
<select id="secondfrom">
    {% for i in range(0, 60) %}
        <option value="{{i}}">{{i}}</option>
    {% end %}
</select>
</span>

<label for="timeto"> to </label>
<span>
<select id="hourto">
    {% for i in range(0, 24) %}
        <option value="{{i}}">{{i}}</option>
    {% end %}
</select>
<select id="minuteto">
    {% for i in range(0, 60) %}
        <option value="{{i}}">{{i}}</option>
    {% end %}
</select>
<select id="secondto">
    {% for i in range(0, 60) %}
        <option value="{{i}}">{{i}}</option>
    {% end %}
</select>
</span>
</p>
</td></tr>
<tr><td><input type="checkbox" name="filters" value="description"></td><td>
<p>
<label for="description">Description contains </label>
<input type="text" name="description" id="description">
</p>
</td></tr>
<tr><td><input type="checkbox" name="filters" value="amount"></td><td>
<p>
<label for="amountfrom">Amount from </label>
<input type="number" name="amountfrom" id="amountfrom" min="0" size="10">
<label for="amountto"> to </label>
<input type="number" name="amountto" id="amountto" min="0" size="10">
</p>
</td></tr>
<tr><td><input type="checkbox" name="filters" value="comment"></td><td>
<p>
<label for="comment">Comment contains </label>
<input type="text" name="comment" id="comment">
</p>
</td></tr>
</table>
<div id="filters_message">
</div>
<p>
<button type="button" id="filter">Filter</button>
</p>
</form>
</div>
</div>
<script>
  $(document).ready(function() {
   $( "#datefrom" ).datepicker({
     dateFormat: "yy-mm-dd",
     firstDay: 1,
     numberOfMonths: 2,
     maxDate: new Date(),
     defaultDate: -2,
     onClose: function( selectedDate ) {
       $( "#dateto" ).datepicker( "option", "minDate", selectedDate );
     },
     showOn: "button",
     buttonImage: "{{ reverse_url('static', 'images/calendar.gif') }}"
   }).datepicker("setDate", $('#datefrom').datepicker( "option", "defaultDate"))

   $( "#dateto" ).datepicker({
     dateFormat: "yy-mm-dd",
     firstDay: 1,
     numberOfMonths: 2,
     maxDate: new Date(),
     defaultDate: new Date(),
     onClose: function( selectedDate ) {
       $( "#datefrom" ).datepicker( "option", "maxDate", selectedDate );
     },
     showOn: "button",
     buttonImage: "{{ reverse_url('static', 'images/calendar.gif') }}"
   }).datepicker("setDate", $('#dateto').datepicker( "option", "defaultDate"))
   $('#filter').button().click(function() {
       $('#filters_message').html('')
	   load_expenses().fail(function(jqXHR, textStatus, errorThrown) {
		    main_display_error($('#filters_message'), jqXHR.responseText)
       })
	 })
  })
</script>


<p>
<table style="width: 100%;">
<tr><td>
<a title="Add Expense" class="add action" data-url="{{ reverse_url('tpl', 'add_edit_dup_expense') }}?action=add" onclick='load_url(this)' href='javascript:void(0)'></a></p>
</td><td align="right">
<a title="Print summary" onclick='print_summary()' href='javascript:void(0)'>Print summary</a></p>
</td></tr>
</table>
<table style="width: 100%; border: 1px #ccc solid">
<tr>
<td style="width: 25%"><span id="previous" onclick="go_previous()">Previous</span></td>
<td style="width: 50%" align="center"><span id="count"></span></td>
<td style="width: 25%" align="right"><span id="next" onclick="go_next()">Next</span></td>
</tr>
</table>

<script>
var page = {% try %} {{ int(page) }} {% except %} 1 {% end %}
var page_size = {% try %} {{ int(page_size) }} {% except %} 5 {% end %}
var total_items = 0
</script>

<table id="expenses" style="width: 100%; border: 1px #ccc solid">
<thead>
<tr class="ui-widget ui-widget-content">
<th>Date</th>
<th>Time</th>
<th>Description</th>
<th>Amount</th>
<th>Comment</th>
<th>Actions</th>
</thead>
<tbody>
</tbody>
</table>

<script>
function load_url(obj) {
    $('#center').load($(obj).data('url'))
}

function edit_expense(obj) {
    var expense_id = $(obj).parents('tr').first().data('id')
    $('#center').load("{{ reverse_url('tpl', 'add_edit_dup_expense') }}?action=edit&id=" + expense_id)
}

function duplicate_expense(obj) {
    var expense_id = $(obj).parents('tr').first().data('id')
    $('#center').load("{{ reverse_url('tpl', 'add_edit_dup_expense') }}?action=dup&id=" + expense_id)
}

function delete_expense(obj) {
    var expense_id = $(obj).parents('tr').first().data('id')
    $.ajax('{{reverse_url('expense')}}?id=' + expense_id, {type: "DELETE", success: function(data) {
    	load_expenses()
    }, error: function(jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseText)
    }})
}

function go_previous() {
    page = page - 1
    load_expenses()
}

function go_next() {
	page = page + 1
	load_expenses()
}

function update_pagination_links() {
	if (page > 1) {
		$('#previous').show()
	} else {
		$('#previous').hide()
	}
    if (total_items > page * page_size) {
        $('#next').show()
    } else {
        $('#next').hide()
    }
    $('#count').html('from ' + (page-1) * page_size + ' to ' + Math.min((page) * page_size, total_items) + ' out of ' + total_items)
}

function display_result(idx, expense) {
	var html = '<tr data-id=' + expense.id + '>'
	html += '<td>' + expense.date.join('-') + '</td>'
    html += '<td>' + expense.time.join(':') + '</td>'
    html += '<td>' + expense.description + '</td>'
    html += '<td>' + expense.amount + '</td>'
    html += '<td>' + expense.comment + '</td>'
    html += '<td><p class="actions"> \
        <a title="Edit" class="edit short_action" onclick="edit_expense(this)" href="javascript:void(0)"></a> / \
        <a title="Duplicate" class="duplicate short_action" onclick="duplicate_expense(this)" href="javascript:void(0)"></a> / \
        <a title="Delete" class="delete short_action" onclick="delete_expense(this)" href="javascript:void(0)"></a> \
    </p></td>'
	html += '</tr>'
	$('tbody', '#expenses').append(html)
}

function prepare_search_parameters() {
    var params = []
    $.each($('#form_filters [name=filters]:checked'), function (idx, data) {
        params.push('filters=' + encodeURIComponent(data.value))
        switch(data.value)
        {
        case 'date':
            params.push('datefrom=' + encodeURIComponent($('#datefrom').val()))
            params.push('dateto=' + encodeURIComponent($('#dateto').val()))
            break;
        case 'time':
            params.push('timefrom=' + encodeURIComponent([$('#hourfrom').val(), $('#minutefrom').val(), $('#secondfrom').val()].join(':')))
            params.push('timeto=' + encodeURIComponent([$('#hourto').val(), $('#minuteto').val(), $('#secondto').val()].join(':')))
            break;
        case 'description':
            params.push('description=' + encodeURIComponent($('#description').val()))
            break;
        case 'amount':
            params.push('amountfrom=' + encodeURIComponent($('#amountfrom').val()))
            params.push('amountto=' + encodeURIComponent($('#amountto').val()))
            break;
        case 'comment':
            params.push('comment=' + encodeURIComponent($('#comment').val()))
            break;
        }
    })
    params.push('page=' + encodeURIComponent(page))
    params.push('page_size=' + encodeURIComponent(page_size))
    return params
}

function print_summary() {
    return $.ajax('{{reverse_url('summary')}}?' + prepare_search_parameters().join('&'), {type: "GET", success: function(data) {
        $('#center').load('{{reverse_url('tpl', 'summary')}}', function () {
        	display_summary(data)
        })
    }})
}

function load_expenses() {
    return $.ajax('{{reverse_url('expenses')}}?' + prepare_search_parameters().join('&'), {type: "GET", success: function(data) {
        $('tbody', '#expenses').html('')
    	$.each(data.results, display_result)
    	page = data.page
    	page_size = data.page_size
    	total_items = data.total
    	update_pagination_links()
    }})
}

$(document).ready(function() {
	$('#filters').accordion({collapsible: true, active: false})
	load_expenses()
})
</script>
</div>