<div class="center_horz_vert" style="text-align: center;">
<form id="form">
<p>
<label for="name">Name</label><br/>
<input type="text" name="name" id="name">
</p>
<p>
<label for="password">Password</label><br/>
<input type="password" name="password" id="password">
</p>
<p>
<div id="login_message">
</div>
</p>
<p>
<button type="button" id="login">Login</button>
<button type="button" id="register">Register</button>
</p>
</form>
</div>
<script>
$(document).ready(function() {
	$('#login').button().click(function() {
		$('#login_message').html('')
	    var form_data = $('#form').serializeArray()
        $.ajax('{{reverse_url('login')}}', {type: "POST", data: JSON.stringify(form_data), success: function(data) {
            $('#main').load('{{ reverse_url('tpl', 'dashboard') }}')
        }, error: function(jqXHR, textStatus, errorThrown) {
        	main_display_error($('#login_message'), jqXHR.responseText)
        }})
	})
    $('#register').button().click(function() {
        $('#login_message').html('')
        var form_data = $('#form').serializeArray()
        $.ajax('{{reverse_url('user')}}', {type: "POST", data: JSON.stringify(form_data), success: function(data) {
            main_display_error($('#login_message'), 'account created')
        	$('#login').click()
        }, error: function(jqXHR, textStatus, errorThrown) {
            main_display_error($('#login_message'), jqXHR.responseText)
        }})
    })
})
</script>
