<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<title>Expense Tracker</title>
<script src="{{ reverse_url('static', 'main.js') }}"></script>
<link rel="stylesheet" href="{{ reverse_url('static', 'main.css') }}" />
<link rel="stylesheet" href="{{ reverse_url('static', 'print.css') }}" media="print" />
<link
	href="{{ reverse_url('static', 'jquery-ui-1.10.4.custom/css/excite-bike/jquery-ui-1.10.4.custom.css') }}"
	rel="stylesheet">
<script
	src="{{ reverse_url('static', 'jquery-ui-1.10.4.custom/js/jquery-1.10.2.js') }}"></script>
<script
	src="{{ reverse_url('static', 'jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js') }}"></script>
</head>
<body>
    <script>
     $(document).ajaxSend(function(event, jqxhr, settings) {
//         console.log(settings.type + ' ' + settings.url)
     })
     $(document).ajaxError(function(event, jqxhr, settings) {
    	 if (jqxhr.status == 401) {
             $('#main').load('{{ reverse_url('tpl', 'login') }}')
    	 } else {
    		 console.log('event', event)
             console.log('jqxhr', jqxhr)
             console.log('settings', settings)
    	 }
     })
    </script>
	<h1>Expense Tracker</h1>
	<div id="main">
	</div>
    <script>
    $(document).ready(function() {
    	// are we logged in ?
        $.ajax('{{ reverse_url('user') }}', {type: "GET", success: function() {
        	$('#main').load('{{ reverse_url('tpl', 'dashboard') }}')
        }, error: function() {
        	$('#main').load('{{ reverse_url('tpl', 'login') }}')
        }
        })
    })
    </script>

<br><br>
<a class='no_print' href="{{ reverse_url('doc', 'index.html') }}">Documentation</a>
</body>
</html>
