<div class="center_horz_vert" style="position: static;">
<h2>Summary</h2>

<p>
<span>Calculated out of <span id="total_expenses"></span> records</span>
</p>
<h3>Average spending per weekday</h3>
<table id="weekday_avgs" style="width: 100%; border: 1px #ccc solid">
<thead>
<tr class="ui-widget ui-widget-content">
<th>Weekday</th>
<th>Avg</th>
</thead>
<tbody>
</tbody>
</table>
</br>
<h3>Sum per week</h3>
<table id="week_sums" style="width: 100%; border: 1px #ccc solid">
<thead>
<tr class="ui-widget ui-widget-content">
<th colspan="2">Week</th>

<th>Sum</th>
</thead>
<tbody>
</tbody>
</table>

</br>
<table style="width: 100%;" class="no_print">
<tr><td align="right"><button type="button" id="back">Back</button></td>
</tr>
</table>

<script>
function display_summary(data) {
	$('#total_expenses').text(data.total)
    $('tbody', '#weekday_avgs').html('')
    $.each(data.weekday_avgs, display_weekday_avgs)
    $('tbody', '#week_sums').html('')
    $.each(data.week_sums, display_week_sums)
    window.print()
}

var weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

function display_weekday_avgs(idx, avg) {
	var html = '<tr>'
	html += '<td>' + weekdays[idx] + '</td>'
    html += '<td>' + avg + '</td>'
	html += '</tr>'
	$('tbody', '#weekday_avgs').append(html)
}

function display_week_sums(idx, week) {
    var html = '<tr>'
    html += '<td> #' + week.week + '</td>'
    html += '<td>('  + week.datefrom.join('-') + ' to ' + week.dateto.join('-') +')</td>'
    html += '<td>' + week.sum + '</td>'
    html += '</tr>'
    $('tbody', '#week_sums').append(html)
}

$(document).ready(function() {
	$('#back').button().click(function () {
        $('#main').load('{{ reverse_url('tpl', 'dashboard') }}')
	})
})

</script>
</div>